@import "tailwindcss";
@plugin "@tailwindcss/typography";


#dropdown-menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    width: 200px;
    z-index: 99;
}

#dropdown-menu.open {
    display: flex;
}